<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="war" class="implementation.MakeWar"/>
    <bean id="princess" class="implementation.SavePrincess"/>
    <bean id="dragon" class="implementation.BeatDragon"/>
    <bean id="knight" class="knight.Knight">
        <constructor-arg ref="dragon"/>
    </bean>
</beans>